*{
    margin:0;
    padding:0;
}

h1{
    margin-left:10px;
}

nav{
    position:-webkit-sticky;
    position: sticky;
    top: 0px;
}

nav img{
    display: inline-block;
    width: 150px;
    height: 150px;
} 

nav a{
    text-decoration: none;
    text-align: center;
    margin:20px;
    padding: 30px;
}

nav li {
    display: inline-block;
    background-color: #ff5757;
    text-decoration: none;
    list-style-type: none;
    text-align: end;
}

nav a:link{
    color:#7ed957
}

nav a:visited{
    color: #ffde59
}

nav a:hover{
    color: grey
}

nav a:active{
    color:lightskyblue
}

Body{
    background: #7ed957;
    width: 100%;
}

.background{
    width: 100%;
    background-color: #ff5757;
}


footer ul{
    float: left;
    margin-right: 30px;
    list-style: none;
}

.logo{
    text-align: end;
}

.display-inline{
    display: inline;
}

.border{
    border: 2px solid;
    border-color: black;
    margin: 1px;
    box-shadow: 2px 4px;
    background-color: #ffde59;
    width: 50%;
    margin: auto;
    font-size: large;
    text-align: center;
}

.hero-image {
    width: 100%;

}

.hero-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#sample{
    margin: auto;
    border-color: #ffde59

}

#founder{
    text-align: center
    ;
}

.paragraph{
    border: 2px solid;
    border-color: black;
    margin: 1px;
    box-shadow: 2px 4px;
    background-color: #ffde59;
    width: 23%;
    font-size: large;
    text-align: center;
}